
<div class="row g-5">
    <div class="col-md-11 col-lg-12">
        <h4 class="mb-3">Create Submission</h4>
        <form class="register-account" action="/submission" method="post" style="margin-top: 3%;">
            <div class="row g-3">
                <div class="col-lg-12">
                    <label for="firstName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" style="width: 50%;" placeholder="" value="" name="name">
                    <div class="invalid-feedback">
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Closure Date</label>
                    <input type="datetime-local" class="form-control" id="closure-date" placeholder="" value="" name="closure_date">
                    <div class="invalid-feedback">
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="username" class="form-label">Final Closure Date</label>
                    <input type="datetime-local" class="form-control" id="final-closure-date" placeholder="" value="" name="final_closure_date">
                    <div class="invalid-feedback">
                    </div>
                </div>

                <div class="col-lg-12">
                    <label for="email" class="form-label">Description</label>
                    <textarea class="form-control summernote" name="description" ></textarea>
                    <div class="invalid-feedback">
                    </div>
                </div>
                <hr class="my-4">
                <div class="col-md-3">
                    <button class="w-100 btn btn-success btn-lg" type="submit" style="font-weight: 700;">Register</button>
                </div>
                <div class="col-md-3">
                    <a class="w-100 btn btn-secondary btn-lg" href="/submission-management" type="button" style="font-weight: 700;">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- include libraries(jQuery, bootstrap) -->
<script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script defer src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script defer src="/js/editor/summernote.js"></script>