<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login/style.css">
</head>

<body>
    <section class="login">
        <div class="login_box">
            <div class="left">
                <div class="contact">
                    <form method="post" action="/login/auth">
                        <h3>SIGN IN</h3>
                        <input type="text" placeholder="USERNAME" name="username">
                        <input type="text" placeholder="PASSWORD" name="password">
                        <button class="submit">LET'S GO</button>
                    </form>
                </div>
            </div>
            <div class="right">
                <div class="right-text">
                    <h2>FPT EDUCATION</h2>
                    <h5>IDEA SUBMIT SYSTEM</h5>
                </div>
            </div>
        </div>
    </section>
</body>

</html>